.header {
    background-color: white; /* Change the color as needed */
    color: black;
    padding: 20px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    // position: fixed;
    // top: 0;
    // width: 100%;
  }
  
  .container {
    width: 90%;
    max-width: 1200px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .logoImage {
    height: 10px;
    margin-right: 5px; 
  }

  .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.3s;
  }
  
  .nav-link:hover {
    color: #FFD700; /* Change the hover color as needed */
  }
  