.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    min-width:25%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out;
    margin: 16px;
  }
  
  .card:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .cardimage {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .cardcontent {
    padding: 16px;
  }
  
  .cardtitle {
    font-size: 1.5em;
    margin: 0 0 10px 0;
  }
  
  .carddescription {
    font-size: 1em;
    color: #555;
  }
