.footer {
    background-color: #fafafa;
    color: white;
    padding: 5px 10px 5px 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    margin-top:auto;
    border-top: 1px solid #d5d5d5;
  }
  
.container {
    // width: 100%;
    // max-width: 1200px;
    margin: 0;
    // padding-right: 10px;
    display: flex;
    justify-content: space-between;
  }

.name {
  color: #2a609d
}

.mail {
  color: #2a609d
}
  