.footer {
    background-color: #fafafa;
    color: white;
    padding: 5px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top:auto;
    border-top: 1px solid #d5d5d5;
  }
  
.container {
    width: 100%;
    // max-width: 1200px;
    margin: 0;
    display: flex;
  }

.name {
    flex: 3;
    justify-content: flex-start;
}

.mail {
    flex: 3;
    justify-content: flex-end;
}
  